body {
  margin: 0;
  font-family: Arial;
  background-color: #eef6ff;
  color: #0b3c74;
}

.navbar {
  background-color: #5a0707;
  padding: 10px;
}

.navbar a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.page {
  padding: 20px;
}

.card {
  background: rgb(231, 160, 160);
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
}

.auth {
  max-width: 400px;
}

input {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

.btn {
  background: #175597;
  color: white;
  padding: 10px;
  border: none;
}

.social {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
}

.fb {
  background: #1877f2;
  color: white;
}

.google {
  background: #ec2715;
  color: white;
}
.logo {
  font-weight: bold;
  margin-right: 20px;
  color: white;
}

.profile {
  display: inline-flex;
  align-items: center;
  margin-left: 15px;
}

.profile img {
  border-radius: 50%;
  margin-right: 8px;
}

.profile button {
  background: white;
  color: #2f6fb2;
  border: none;
  padding: 4px 8px;
}